<div class="m-4">
  <div class="container m-shadow"
    style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">

    <div class="row h-100"
      style="min-width: 1240px !important; max-width: 1240px !important; min-height: 1754px !important; max-height: 1754px !important;">
      <div class="col-md-4 bg-navy text-white plr-4">

        <div class="w-100 d-flex justify-content-center mt-4">
          <img class="rounded-circle img-100" src="../assets/Cv_.jpg" alt="">
        </div>

        <app-group [title]="'Info'" [items]="info"></app-group>
        <app-group [title]="'Contatti'" [items]="contats"></app-group>
        <app-group [title]="'Conoscenze Linguistiche'" [items]="languages"></app-group>

        <app-group [title]="'Soft Skills'" [items]="softSkills"></app-group>

        <app-group [title]="'Prospettive future e lavoro cercato'" [items]="futures"></app-group>


      </div>
      <div class="col-md-8 bg-light d-flex flex-column justify-content-between" style="min-height: 1754px !important; max-height: 1754px !important;">
        <div class="p-2">

          <div class="name-center-y">
            <h1 class="text-uppercase bold">Emanuele Sorzana</h1>
            <hr>
            <h5 class="text-uppercase font-weight-bold">Dottore in Ingegneria Informatica</h5>
          </div>
         

          <div>
            <h3 class="text-uppercase">Panoramica</h3>
            <p>Buona capacità di apprendimento e comunicazione, grazie alla mia esperienza in ripetizioni scolastiche di
              materie scientifiche e informatiche.
              Spirito di gruppo e abituato alla condivisione. Figlio con quattro fratelli e sempre stato propenso a
              partecipare a gare di squadre durante tutta la mia cariera scolastica (gare di matematica, kangaroo, ctf).
              Tanta curiosità e passione in quello che faccio trainano il mio voler imparare e crescere
              professionalmente. Arduino, stampa 3d nel tempo libero.</p>

            <h3 class="text-uppercase">Istruzione</h3>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Laurea</span>
                  <span style="font-size: 12px;">2015-2020</span>
                </div>


              </div>
              <div class="col-9">
                <p>
                  <b> Università degli Studi di GENOVA <br></b>
                  <b>Dipartimento di Informatica, Bioingegneria, Robotica e Ingegneria dei Sistemi <br></b>
                  <b>Ingegneria informatica <br></b>
                  <b> L-8 - Laurea in Ingegneria dell'informazione <br></b>
                  Titolo della tesi: ANDROID PROJECT: POCKET CUBE SOLVER | Materia: SISTEMI DI ELABORAZIONE DELLE
                  INFORMAZIONI | Relatore: ALESSIO MERLO <br>
                  Età al conseguimento del titolo: 23 | Durata ufficiale del corso di studi: 3 anni <br>
                  Votazione finale: <b style="font-size: 16px;">102/110</b> <br>
                  Data di conseguimento: 24/07/2020 <br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="d-flex flex-column align-items-start">
                  <span class="bold">Maturità Scientifica</span>
                  <span style="font-size: 12px;">2015</span>
                </div>
              </div>
              <div class="col-9">
                <p>
                 <b> L.S.S. - G.D.CASSINI - GENOVA (GE) <br></b>
                  Voto Diploma: 66/100 <br>
                  Tipo Diploma: diploma italiano <br>
                </p>
              </div>
            </div>

            <h3 class="text-uppercase">Competenze Informatiche</h3>
            <div class="row">
              <div class="col-3"><span class="bold">Office Automation</span></div>
              <div class="col-9">
                <p>
                  Elaborazione testi: (Intermedio) Fogli elettronici: (Base) Software di presentazione: (Intermedio)
                  Suite da ufficio: (Intermedio) Web Browser: (Altamente specializzato)
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"> <span class="bold">Programmazione</span></div>
              <div class="col-9">
                <p>
                  Arduino (Avanzato) <b>Ambienti di sviluppo integrato (IDE):</b> Android Studio Eclipse Visual Studio
                  (Intermedio) Visual Studio Code (Avanzato) <b>Build Automation:</b> Github (Intermedio) <b>Librerie Javascript:</b>
                  Angular (Intermedio) Bootstrap (Avanzato) Express.js (Intermedio) Node.js (Intermedio) p5.js
                  (Avanzato) <b>Linguaggi di markup:</b> CSS (Avanzato) HTML (Avanzato) <b>Linguaggi di Programmazione:</b> C
                  (Avanzato) C++ (Avanzato) Dart (Base) Java (Altamente specializzato) JavaScript (Altamente
                  specializzato) Processing (Avanzato) Python (Altamente specializzato) TypeScript (Avanzato)
                  <b>Programmazione web:</b> Mongoose (Intermedio) PHP (Intermedio) <b>Sistemi di creazione di videogiochi:</b> Unity
                  <b>Sviluppo di applicazioni mobile:</b> Flutter (Intermedio)
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"><span class="bold">Gestione Sistemi e Reti</span></div>
              <div class="col-9">
                <p>
                 <b> Architetture di rete:</b> (Intermedio) <b>Sistemi Operativi:</b> (Intermedio) Linux (Intermedio)
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-3"><span class="bold">Gestione Dati</span></div>
              <div class="col-9">
                <p>
                  <b>Sistemi di gestione di database (DBMS):</b> (Intermedio) MongoDB (Intermedio) MySQL (Base)
                </p>
              </div>
              <div class="row">
                <div class="col-3"><span class="bold">Grafica e Multimedia</span></div>
                <div class="col-9">
                  <p>
                    (Base)
                  </p>
                </div>
              </div>

              <h3 class="text-uppercase">Riconoscimenti/Accreditamenti</h3>
              <div class="row">
                <div class="col-3">
                  <div class="d-flex flex-column align-items-start">
                    <span class="bold">Premio</span>
                    <span style="font-size: 12px;">27/10/2022</span>
                  </div>
                </div>
                <div class="col-9">
                  <p>
                   <b> Premio speciale SI4LIFE <br></b>
                    Selezionato tra i 16 finalisti di SMARTcup Liguria 2022. <br>
                    Ricevuto premio speciale SI4LIFE <br> 
                    <a href="https://www.facebook.com/photo/?fbid=577874427676225&set=a.460811176049218">https://www.facebook.com/photo/?fbid...</a>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="align-self-end d-flex justify-content-center w-100"><span style="font-size: 10px;">CV self made from scratch with Angular, source code on github <a href="https://www.github.com/emasorz">@emasorz</a></span></div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>